@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body, html, .mat-sidenav-container {
    height:100vh;
    margin: 0;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
